

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}" type="text/css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 p-30 m-1 border-box">
                <table class="table">
                    <thead><th>{{ table.name }}</th>
                    <th>
                    </th>
                    </thead>
                    {% for note in note_set %}
                        {% if note.id != id %}
                            <tr>
                                <td>{{ note.text }}</td>
                                <th>
                                </th>
                            </tr>
                        {% else %}
                        <form method="POST" action="submit/">
                            {% csrf_token %}
                            <thead>
                            <td>
                                <input type="text" name="text" value="{{note.text}}" />
                            </td>
                            <th>
                                 <input type="submit" value="Сохранить">
                            </th>
                            </thead>
                        </form>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>