<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Редактирование заметки</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Отредактируйте запись (если хотите удалить её, оставьте пустую строку)</label><br>
            <input type="text" name="text" value="{{note.text}}" />
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>