
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}" type="text/css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <div class="row">
            {% for table, note_set in tables.items %}
                {% if table.id == id %}
                <div class="col-6 p-30 m-1 border-box">
                    <table class="table">
                        <form method="POST" action="submit/">
                            {% csrf_token %}
                            <thead>
                            <td>
                                <input type="text" name="text" value="{{table.name}}" />
                            </td>
                            <th>
                                 <input type="submit" value="Сохранить">
                            </th>
                            </thead>
                        </form>
                        {% for note in note_set %}
                        <tr>
                            <td><div class="text-wrap text-break">{{ note.text }}</div></td>
                            <th>
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>