{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}" type="text/css">
    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <div class="w-75 p-3 m-3 border-box">
            <h2>Создание новой таблицы (введите имя уже существующей чтобы добавить в неё запись)</h2>
            <form method="POST" action="add_note/">
                {% csrf_token %}
                <p>
                    <label>Введите заметку</label><br>
                    <input type="text" name="note" />
                </p>
                <p>
                    <label>Введите имя таблицы</label><br>
                    <input type="text" name="title_name" />
                </p>
                <input type="submit" value="Сохранить" >
            </form>
        </div>
        <div class="row">
            {% for table, note_set in tables.items %}
                <div class="col p-30 m-1 border-box">
                    <table class="table">
                        <thead>
                        <td>
                            <h3>
                                <div class="text-wrap text-break minw">
                                    {{ table.name }}
                                </div>
                            </h3>
                        </td>
                        <th>
                             <a href="edit_title/{{table.id}}">Изменить</a>
                        </th>
                        </thead>
                        {% for note in note_set %}
                        <tr>
                            <td><div class="text-wrap text-break">{{ note.text }}</div></td>
                            <th>
                                <form method="POST" action="edit_note/{{note.id}}/">
                                    {% csrf_token %}
                                    <input type="submit" value="изменить">
                                </form>
                            </th>
                        </tr>
                        {% endfor %}
                        <form method="POST" action="add_row/">
                            {% csrf_token %}
                            <tr>
                                <input type="hidden" name="table_id" value="{{table.id}}">
                                <td><input type="text" name="note" /></td>
                                <th><input type="submit" value="добавить" ></th>
                            </tr>
                        </form>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>