table{
    border-collapse: collapse;
}

.border-box{
    border: 6px solid #7922CC;
    border-radius: 25px;
    background-color: #EEDDFF;
    min-width: 30%;
}

input{
    background-color: #FFEEFF;
}
table input{
    width: 100%;
}
